<div class="col">
  <div class="nav-tabs">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#tab1">Graph</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#tab2">Basic</a>
      </li>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="row my-3" style="max-width: 1024px">
        <canvas #myChart></canvas>
      </div>
    </div>
    <div class="tab-pane" id="tab2">
      <div class="row mx-1 my-3">
        <ng-container *ngFor="let hour of forecastDays![0].hour; let i = index">
          <div *ngIf="i % 2 === 0" class="col-md-2 col-3 p-2">
            <div class="hour-item col align-items-center">
              <div class="responsive-text">{{ times[i / 2] }}</div>
              <img [src]="hour.condition.icon" alt="" />
              <div class="responsive-text">{{ hour.temp_c }}&deg;C</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <h3>Next Two Days Forecast</h3>
  <div class="row justify-content-between">
    <div class="col-6 border">hal</div>
    <div class="col-6 border">hal</div>
  </div>
</div>
