.forecast-card {
  .row {
    flex-wrap: nowrap;
  }
  .col{
    div{
        font-size:12px;
    }
  }
}
.w-condition{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}