<div class="col">
  <app-hourly-forecast
    [hourlyData]="forecastDays![0].hour"
  ></app-hourly-forecast>
  <h3>Next Forecast</h3>
  <div class="row justify-content-between">
    <div
      *ngFor="let forecastDay of forecastDays | slice : 1"
      class="col-md-6 col-12 p-2"
    >
      <div class="card shadow-sm forecast-card p-3">
        <div class="mb-2">
          {{ forecastDay.date | date : "EEEE d MMMM, yyyy" }}
        </div>
        <div class="row">
          <div class=" w-condition col-3 justify-content-center align-items-center">
            <img [src]="forecastDay.day.condition.icon" alt="" />
            <div style="font-size: 12px" class="text-center">
              {{ forecastDay.day.condition.text }}
            </div>
          </div>
          <div class="col-9 align-items-start">
            <div class="row mb-2 justify-content-between">
              <div class="col align-items-center">
                <div>{{ forecastDay.day.maxtemp_c }}&deg;C</div>
                <div>High</div>
              </div>
              <div class="col align-items-center">
                <div>{{ forecastDay.day.maxwind_kph }}mph</div>
                <div>Wind</div>
              </div>
              <div class="col align-items-center">
                <div>{{ forecastDay.astro.sunrise }}</div>
                <div>Sunrise</div>
              </div>
            </div>
            <div class="row mb-2 justify-content-between">
              <div class="col align-items-center">
                <div>{{ forecastDay.day.mintemp_c }}&deg;C</div>
                <div>Low</div>
              </div>
              <div class="col align-items-center">
                <div>{{ forecastDay.day.daily_chance_of_rain }}%</div>
                <div>Rain</div>
              </div>
              <div class="col align-items-center">
                <div>{{ forecastDay.astro.sunset }}</div>
                <div>Sunset</div>
              </div>
            </div>
            <div class="row justify-content-end me-1">
              <div class="col-4 btn btn-outline-secondary btn-sm">Hourly</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
</div>
