<div class="col">
  <div class="row">
    <div class="col-3 p-0">
      <div class="profile-photo">
        <img
          *ngIf="selectedImageUrl"
          [src]="selectedImageUrl"
          alt="Selected Image"
        />
        <img *ngIf="!selectedImageUrl" src="assets/profile.svg" alt="" />
      </div>
    </div>
    <div class="col-9 align-items-center">
      <div class="d-flex flex-column justify-content-between h-100">
        <div class="col">
          <div style="font-size: medium">Upload your photo</div>
          <div class="fw-light" style="font-size: smaller">
            Your photo should be in PNG or JPG format
          </div>
        </div>
        <div class="row d-flex justify-content-center m-0">
          <button (click)="selectFile()" class="col-6 btn text-success">
            Choose
          </button>
          <input
            type="file"
            #fileInput
            (change)="onFileSelected($event)"
            accept="image/*"
          />
          <button class="col-6 btn text-danger fw-bold">Remove</button>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <form *ngIf="userForm" [formGroup]="userForm">
    <div class="mb-3">
      <label for="fullname" class="form-label">Full Name</label>
      <input
        type="text"
        class="form-control form-control-sm"
        id="fullname"
        placeholder="Enter Your Full Name"
        formControlName="fullname"
      />
    </div>
    <div formGroupName="role" class="mb-3 d-flex gap-2">
      <label class="form-label">Role: </label>
      <div class="form-check">
        <input
          formControlName="farmer"
          class="form-check-input"
          type="checkbox"
          id="farmer"
          (change)="onRoleChange('farmer')"
        />
        <label class="form-check-label" for="farmer">Farmer</label>
      </div>
      <div class="form-check">
        <input
          formControlName="broker"
          class="form-check-input"
          type="checkbox"
          id="broker"
          (change)="onRoleChange('broker')"
        />
        <label class="form-check-label" for="broker">Broker</label>
      </div>
    </div>
  </form>

  <div class="d-flex gap-3 justify-content-end">
    <button class="btn btn-danger">Cancel</button>
    <button class="btn btn-success" (click)="onSubmit()">Submit</button>
  </div>
</div>
