<h2>Baran,Rajasthan</h2>
<h5>FriDay 21 June</h5>

<div class="row justify-content-center align-items-center">
  <div class="row col-md-6 align-items-center">
    <img class="col-6" src="assets/cloudy.png" alt="" />
    <div class="col align-items-center col-6">
      <h2>23`</h2>
      <div>Mostly sunny</div>
    </div>
  </div>
  <div class="col col-md-6">
    <div class="row mb-3 justify-content-between">
      <div class="col align-items-center">
        <div>23</div>
        <div>cloud</div>
      </div>
      <div class="col align-items-center">
        <div>23</div>
        <div>cloud</div>
      </div>
      <div class="col align-items-center">
        <div>23</div>
        <div>cloud</div>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col align-items-center">
        <div>23</div>
        <div>cloud</div>
      </div>
      <div class="col align-items-center">
        <div>23</div>
        <div>cloud</div>
      </div>
      <div class="col align-items-center">
        <div>23</div>
        <div>cloud</div>
      </div>
    </div>
  </div>
</div>
