/* auth.component.scss */
.container {
    margin-top: 50px;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    margin-top: 20px;
}

button.btn-link {
    color: #007bff;
    text-decoration: none;
}

.slide-in-right {
    animation: slideInRight 0.5s forwards;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}