<form *ngIf="signupForm" [formGroup]="signupForm">
  <div class="container col align-items-center">
    <div class="w-100 mb-2">
      <h5 class="text-secondary-emphasis">Let's Get Started</h5>
      <h6 class="text-secondary">Sign up your account</h6>
    </div>
    <div class="w-100 my-3">
      <input
        type="text"
        class="form-control my-3"
        formControlName="displayName"
        placeholder="Name"
      />
      <input
        type="text"
        class="form-control my-3"
        formControlName="email"
        placeholder="Email"
      />
      <input
        type="password"
        class="form-control my-3"
        formControlName="password"
        placeholder="Password"
      />
      <input
        type="password"
        class="form-control my-3"
        formControlName="confirmPassword"
        placeholder="Confirm Password"
      />
    </div>
  </div>
  <button class="btn btn-primary text-light w-100" (click)="signup()">
    Sign up
  </button>

  <hr />
  <div class="text-center">
    <button type="button" class="btn btn-outline-secondary google-btn">
      <img height="16" src="assets/google.svg" alt="" />
      Continue With Google
    </button>

    <div class="mt-2">
      <a class="btn btn-link" routerLink="/auth/login"
        >Already have an account?</a
      >
    </div>
  </div>
</form>
