<form *ngIf="signupForm" [formGroup]="signupForm">
  <div class="container col align-items-center auth-cont">
    <div class="w-100 mb-2">
      <h5 class="text-secondary-emphasis">Let's Get Started</h5>
      <h6 class="text-secondary">Sign up your account</h6>
    </div>
    <div class="w-100 my-3">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [class.is-invalid]="email!.invalid && email!.touched"
          formControlName="email"
          placeholder="Email"
          id="validationEmail"
          required
        />
        <div *ngIf="email?.invalid && email?.touched" class="invalid-feedback">
          <div *ngIf="email?.errors?.['required']">Email is required.</div>
          <div *ngIf="email?.errors?.['email']">
            Please enter a valid email.
          </div>
        </div>
      </div>

      <div class="form-group my-3">
        <input
          type="password"
          class="form-control"
          [class.is-invalid]="password!.invalid && password!.touched"
          formControlName="password"
          placeholder="Password"
        />
        <div
          *ngIf="password!.invalid && password!.touched"
          class="invalid-feedback"
        >
          <div *ngIf="password!.errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="password!.errors?.['minlength']">
            Password must be at least 6 characters long.
          </div>
        </div>
      </div>

      <div class="form-group my-3">
        <input
          type="password"
          class="form-control"
          [class.is-invalid]="
            (confirmPassword!.invalid && confirmPassword!.touched)||signupForm.errors?.['passwordmatcherror']
          "
          formControlName="confirmPassword"
          placeholder="Confirm Password"
        />
        <div
          *ngIf="confirmPassword?.touched"
          class="invalid-feedback"
          style="display: block"
        >
          <div *ngIf="confirmPassword?.errors?.['required'];else passwordMatch">
            Confirm Password is required.
          </div>
          <ng-template #passwordMatch>
            <div *ngIf="signupForm?.errors?.['passwordmatcherror']">
              Passwords do not match.
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <button
    class="btn btn-primary text-light w-100"
    [disabled]="isLoading || isGoogleLogin || signupForm.invalid"
    (click)="signup()"
  >
    <span
      *ngIf="isLoading; else loaded"
      class="spinner-border spinner-border-sm"
      aria-hidden="true"
    ></span>
    <ng-template #loaded> <span>Sign Up</span></ng-template>
  </button>

  <hr />
  <div class="text-center">
    <button
      type="button"
      (click)="googleAuth()"
      class="btn btn-danger"
      [disabled]="isLoading || isGoogleLogin"
    >
      <i class="bi bi-google"></i>
      Continue With Google
    </button>

    <div class="mt-2">
      <button class="text-button" routerLink="/auth/login">
        Already have an account?
      </button>
    </div>
  </div>
</form>
