<form *ngIf="signupForm" [formGroup]="signupForm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">Sign up</div>
          <div class="card-body">
            <div class="form-group">
              <label for="displayName">Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="displayName"
                placeholder="Name"
              />
            </div>
            <div class="form-group mt-3">
              <label for="email">Email</label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                placeholder="Email"
              />
            </div>
            <div class="form-group mt-3">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="password"
                placeholder="Password"
              />
            </div>
            <div class="form-group mt-3">
              <label for="confirmPassword">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="confirmPassword"
                placeholder="Confirm Password"
              />
            </div>
          </div>
          <div class="card-footer text-center">
            <button type="button" class="btn btn-primary" (click)="signup()">
              Sign up
            </button>
            <div class="mt-2">
              <a class="btn btn-link" routerLink="/auth/login"
                >Already have an account? Click Here</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
