
<div class="nav-tabs">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#tab2">Basic</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#tab1">Graph</a>
    </li>
  </ul>
</div>
<div class="tab-content">
  <div class="tab-pane" id="tab1">
    <div class="row my-3">
      <canvas #myChart></canvas>
    </div>
  </div>
  <div class="tab-pane active" id="tab2">
    <div class="row mx-1 my-3">
      <ng-container *ngFor="let hour of hourlyData; let i = index">
        <div *ngIf="i % 2 === 0" class="col-md-2 col-3 p-2">
          <div
            class="hour-item col align-items-center card shadow-sm"
            data-bs-toggle="popover"
            data-bs-trigger="hover focus"
            title="Rain: {{hour.chance_of_rain}}%"
          >
            <div class="responsive-text">{{ times[i / 2] }}</div>
            <img [src]="hour.condition.icon" alt="" />
            <div class="responsive-text">{{ hour.temp_c }}&deg;C</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
