.w-container {
  width: 100%;
  max-width:1024px;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  align-items: center;
}

.input-group {
  margin-bottom: 20px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
h2,
h3 {
  margin-top: 20px;
}
