.dash-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

// .icon-circle {
//   width: 35px;
//   height: 35px;
//   background-color: #e0f7ff;
//   border-radius: 50%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: #00bcd4;
//   font-size: 18px;
// }
.percentage {
  background-color: #e6ffed;
  color: #00c853;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
}

.text-muted {
  font-size: small;
}
.overview {
  gap: 10px;
  box-sizing: border-box;
}

.icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.card-1 .icon-circle {
  background-color: #e0f7ff;
  color: #00bcd4;
}
.card-2 .icon-circle {
  background-color: #fff4e6;
  color: #ff9800;
}
.card-3 .icon-circle {
  background-color: #f0e6ff;
  color: #9c27b0;
}
.card-4 .icon-circle {
  background-color: #e6ffed;
  color: #00c853;
}
.card-1 {
  border: 2px solid #e0f7ff;
}
.card-2 {
  border: 2px solid #fff4e6;
}
.card-3 {
  border: 2px solid #f0e6ff;
}
.card-4 {
  border: 2px solid #e6ffed;
}
