<form *ngIf="loginForm" [formGroup]="loginForm">
  <div class="container col align-items-center">
    <div class="w-100 mb-2">
      <h5 class="text-secondary-emphasis">Welcome back 👋</h5>
      <h6 class="text-secondary">Log in your account</h6>
    </div>
    <div class="w-100 my-3">
      <input
        class="form-control form-control"
        type="text"
        formControlName="email"
        placeholder="Email"
      />

      <div class="d-flex flex-column align-items-end mt-3">
        <input
          type="password"
          class="form-control form-control"
          formControlName="password"
          placeholder="Password"
        />
        <a class="btn btn-link" routerLink="/auth/forgot-password"
          >Forgot Password?</a
        >
      </div>
    </div>
    <button class="btn btn-primary text-light w-100" (click)="login()">
      Continue
    </button>

    <hr>
    <div class="text-center">
      <button type="button"  (click)="googleAuth()" class="btn btn-outline-secondary google-btn">
        <img height="16" src="assets/google.svg" alt="" />
        Continue With Google
      </button>

      <div class="mt-2">
        <a class="btn btn-link" routerLink="/auth/sign-up"
          >Don't have an account?</a
        >
      </div>
    </div>
  </div>
</form>
