hr.my-4 {
    border-top: 1px solid #dee2e6;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  .google-btn {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 auto;
  }
  .btn img {
    margin-right: 8px; /* Adjust the spacing as needed */
  }