.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    
}

.auth-container{
    border-radius: 20px;
 
}
.auth-image{
    // border-radius: 20px;
  text-align: center;
    img{
        object-fit: cover;
        border-radius: 20px;
        height: fit-content;
        width: fit-content;
    }
}