/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
$primary: green;
$secondary:greenyellow;

@import "bootstrap/scss/bootstrap";

// $secondary: #your-desired-secondary-color;
// $success: #your-desired-success-color;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(228, 228, 228);
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins" sans-serif, Roboto, "Helvetica Neue";
}

.root-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  // background-image:url('assets/bg.jpg') ;
  z-index: -100;
}

// .root-container::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: rgba(255, 255, 255, 0.3); /* White overlay */
//   backdrop-filter: blur(5px); /* Blur effect */
//   z-index: -99; /* Ensure the overlay is on top */
// }

.sub-container {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
}

// .row {
//   display: flex;
// }

// .col {
//   display: flex;
//   flex-direction: column;
// }

hr {
  width: 100%;
  border: 1px solid rgb(56, 56, 56);
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-button {
  background: none;
  border: none;
  color: rgb(36, 143, 36);
  cursor: pointer;
  font-size: 16px;
  text-decoration: underline;
}

.text-button:hover {
  color: green;
}

.text-button:focus {
  outline: none;
}

.text-button:disabled {
  color: #858585;
}

.btn-primary {
  color: white !important;
}
