<form *ngIf="resetForm" [formGroup]="resetForm">
  <div class="container col align-items-center">
    <div class="w-100 mb-2">
      <h5 class="text-secondary-emphasis">Reset Password</h5>
    </div>
    <div class="w-100 my-3">
      <div class="form-group">
        <label class="form-label" for="email">Email</label>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          placeholder="Enter Your Email"
        />
      </div>
    </div>
    <hr />
    <button
      class="btn btn-primary text-light w-100"
      [disabled]="isLoading"
      (click)="sendResetLink()"
    >
      <span
        *ngIf="isLoading; else loaded"
        class="spinner-border spinner-border-sm"
        aria-hidden="true"
      ></span>

      <ng-template #loaded> <span>Reset Password</span></ng-template>
    </button>
    <div class="text-center mt-2">
      <button
        class="text-button"
        [disabled]="isLoading"
        routerLink="/auth/login"
      >
        Already have an account?
      </button>
    </div>
  </div>
</form>
